* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ecdfdf;
}

.container {
    max-width: 1000px;
    width: 100%;
    background: #ecdfdf;
    padding: 25px 30px;
    border-radius: 5px;
}

.container .title {
    font-size: 35px;
    font-weight: 800;
    position: relative;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}

.container p {
    text-align: center;
    font-size: 18px;
    padding-top: 10px;
}

.container .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0 12px 0 ;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.user-details .input-box .details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input-box i {
    margin-left: 30px;
    cursor: pointer;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 3px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:focus {
    border-color: #9b59b6 ;
}

form .button {
    height: 45px;
    margin: 25px 0;
}

form .button input {
    height: 70%;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    color: #060505;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: #b0e4f8;
    border-radius: 5px;
}

form .button input:hover {
    background: #3005f1;
}

.button a {
    width: 80px;
    padding: 0 10px;
    background-color: #b0e4f8;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    border-radius: 5px;
}

.button a:hover {
    background: #3005f1;
}



